.container {
    align-content: baseline;
    background-color: #353535;
    border-radius: 15px;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;display: flex;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 4px;
    height: 241px;
    left: 0;
    padding-bottom: 23px;
    position: absolute;
    width: 125px;
}

.coinContainer {
    height: fit-content;
    width: fit-content;
}