.container{
  height: 100px;
  width: 100px;
  animation:spin 2s linear infinite;
}

@keyframes spin { 
  50% { 
    transform:rotate(90deg) scale(1.2, 1.2); 
} 
  100% { 
      transform:rotate(180deg) scale(1, 1); 
  } 
}

.bullseye{
  height: 100px;
  width: 100px;
  fill: red;
}
