.cardContainer {
  
  width: 200px;
  height: 280px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: -100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &:hover {
    margin: 0 !important;
  }
}

.name {
  color: white;
  padding: 15px;
}

.photo {
  background: wheat;
  height: 45%;
  width: 100%;
}

.dataContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: white;
  padding: 15px;
}

.canPlayCard {
  box-shadow: gold 0px 19px 38px, gold 0px 15px 12px;

  &:hover {
    border-color: black;
  }
}

.isDragging {
  display: none;
}

.stats {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
}

%stat {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 3px
}

.attack {
  @extend %stat;
  background: #2196f3
}

.cost {
  @extend %stat;
  background: gold;
}

.health {
  @extend %stat;
  background: #e91e63;
}