.center {
    height: 175px;
    margin: 0 -75px;
    width: 170px;
    z-index: 0;

    &:active {
        pointer-events: none;
    }
}

.expand {
    width: 270px;
}

.border {
    flex-grow: 1;
    height: 120px;
}