.GameBoard {
    background-color: #aaaaaa;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Button {
    background-color: aqua;
}

.playersAndBattlefields {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}