.battlefield {
    align-items: center;
    background-color: #f7c564;
    display: flex;
    height: 160px;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
}