.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 120px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: rgb(155, 198, 53);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: relative;

    &:hover {
        border: solid;
    }
}

.cost {
    position: absolute;
    top: 8px;
    left: 8px;
}

.selected {
    background: rgba(0, 0, 200, 1);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0, 0, 200, 1) 0%, rgba(0, 0, 240, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 200, 1) 0%, rgba(0, 0, 240, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 200, 1) 0%, rgba(0, 0, 240, 1) 99%);

    &:hover {
        border: none;
    }
}