.hand {
    align-items: end;
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}